@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
}

.share {
  overflow: hidden;
}
.share ul {
  padding: 0;
}
.share li {
  float: left;
  display: inline-block;
  margin-right: 4px;
}
